.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 80px;
}

.cartContent {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.cartList {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.checkoutBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  padding: 32px 24px;
  border: 1px solid #e2e8f0;

  .totalPrice {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 800;
    color: #313237;
  }

  .totalItems {
    margin-bottom: 24px;
    font-size: 14px;
    color: #89939a;
  }

  .checkoutButton {
    cursor: pointer;

    width: 100%;
    height: 48px;
    border: none;

    font-weight: 700;
    color: #fff;

    background-color: #313237;

    transition: background-color 0.2s;

    &:hover {
      background-color: #4e5058;
    }
  }

  @media (min-width: 1024px) {
    position: sticky;
    top: 100px;
    max-width: 368px;
  }
}
