.section {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1200px;
  margin: 64px auto 0;
  box-sizing: border-box;
  padding: 0 16px;

  @media (min-width: 640px) {
    padding: 0 24px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.sectionTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #313237;

  @media (min-width: 640px) {
    font-size: 32px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.arrowButton {
  width: 32px;
  height: 32px;
  border: 1px solid #b4b5b7;

  background-color: #fff;
  border-radius: 4px;

  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    border-color: #313237;
    color: #313237;
    background-color: #f8f9fa;
  }

  &.disabled {
    border-color: #b4b5b7;
    cursor: default;
    color: #b4b5b7;
    opacity: 0.4;

    &:hover {
      color: #b4b5b7;
      background-color: transparent;
    }
  }
}

.cardsContainer {
  display: flex;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 16px;
  padding-bottom: 8px;
  box-sizing: border-box;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
